<mat-toolbar color="primary" class="animated fadeIn fast">
    <span>Reload!</span>
    <div style="margin-left:10px">
        <button mat-button routerLinkActive="active" [routerLink]="['posts']">Posts</button>
        <button mat-button>Mi R!</button>
        <button mat-button>Comunidades</button>
        <button mat-button>Tops</button>
    </div>
    <span class="example-fill-remaining-space"></span>

    <app-barra-perfil *ngIf="estaLogeado()"></app-barra-perfil>
    <app-barra-logeo *ngIf="!estaLogeado()"></app-barra-logeo>
</mat-toolbar>