<div style="text-align: center; ">

    <app-cabecera-perfil class="animated fadeIn fast" [usuario]="usuario"></app-cabecera-perfil>
    <mat-tab-group mat-stretch-tabs selectedIndex="3">
        <mat-tab label="Actividad">

        </mat-tab>
        <mat-tab label="Información">
            <app-info class="animated fadeIn fast" [usuario]="usuario"></app-info>
        </mat-tab>

        <mat-tab label="Mi">
            <div>
                <app-perfil-mi></app-perfil-mi>
            </div>
        </mat-tab>

        <mat-tab label="Posts">

            <app-post style="margin-top:5px" *ngFor="let post of usuario.posts" [post]="post"></app-post>

        </mat-tab>
        <mat-tab label="Temas">

        </mat-tab>

        <mat-tab label="Seguidores">

        </mat-tab>

        <mat-tab label="Medallas">

        </mat-tab>

    </mat-tab-group>
</div>