<textarea id="editor"></textarea>


<!-- <div style="width:50%; margin-left:  25%">
    <mat-grid-list cols="10" rowHeight="40px">

        <mat-grid-tile colspan="1" rowspan="1">
            <button mat-button (click)="bold(txt)" color="primary"><mat-icon >format_bold</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon >strikethrough_s</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon >format_underlined</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon >format_italic</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon >format_color_text</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>font_download</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>insert_emoticon</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon >insert_photo</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>insert_link</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>videocam</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>format_size</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>format_quote</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>format_align_left</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>format_align_center</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>format_align_right</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>format_align_justify</mat-icon></button>
        </mat-grid-tile>


        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>border_all</mat-icon></button>
        </mat-grid-tile>


        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon >format_list_numbered</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon >format_list_bulleted</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile aria-colspan="1" aria-rowspan="1">
            <button mat-button color="primary"><mat-icon>linear_scale</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile colspan="10" style="position:absolute;margin-top: 0px" rowspan="5">
            <div id="contenedor" contenteditable="true" #txt (keydown)="getCaretPosition(txt)" style="width: 100%; height: 90%; border: 1px solid"></div>

</mat-grid-tile>



</mat-grid-list>
</div> -->