<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JWT_SECRET_KEY"     value="clave-secreta-api"/>
    <add key="JWT_AUDIENCE_TOKEN" value="http://localhost:49220"/>
    <add key="JWT_ISSUER_TOKEN"   value="http://localhost:49220"/>
    <add key="JWT_EXPIRE_MINUTES" value="30"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="ReloadWS.Service.ReloadService" behaviorConfiguration="ServiceBehavior">
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2024/ReloadWS/"/>
          </baseAddresses>
        </host>
        <endpoint address="Reload" binding="webHttpBinding" contract="ReloadWS.Service.IReloadService" bindingConfiguration="miEnlace" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
     
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceAuthorization serviceAuthorizationManagerType="ReloadWS.Security.DistributorValidator, ReloadWS.Security"></serviceAuthorization>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="miEnlace" receiveTimeout="00:00:10" sendTimeout="00:00:10" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
          <readerQuotas maxArrayLength="67108864" maxBytesPerRead="67108864" />
        </binding>
      </webHttpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>