<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JWT_SECRET_KEY" value="reloadxddxxd110"/>
    <add key="tiempo_limite_token_minutos" value="60"/>
    <add key="Clave_Acceso_Servicio" value="eyJ1c2VyIjoiTHVjaG8iLCJwYXNzd29yZCI6IjEyMyJ9"/>
    <add key="mongodb_user" value="lucho"/>
    <add key="mongodb_password" value="xddxxd"/>
    <add key="mongodb_address" value="54.233.118.254"/>
    <add key="mongodb_db" value="reload"/>
    <add key="mail_host" value="smtp.gmail.com"/>
    <add key="mail_port" value="587"/>
    <add key="mail_emisor" value="chespypruebaprogramas@gmail.com"/>
    <add key="mail_password" value="xddxxd123"/>
    <add key="mail_asunto_activacion_mail" value="[Reload!] Verifica tu mail"/>
    <add key="mail_plantilla_activar_mail" value="activarMail.html" />
    <add key="cuantos_posts_destacados_por_puntos_en_memoria" value="20"/>
    <add key="cuantos_posts_destacados_por_comentarios_en_memoria" value="20"/>
    <add key="cuantos_posts_destacados_por_recientes_en_memoria" value="20"/>
    <add key="minutos_cache" value="5"/>
    <add key="minutos_recarga_posts_destacados_cache" value="5"/>
  </appSettings>
  <system.serviceModel>
    <services>
      
      <service name="ReloadWS.Service.ReloadService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:20124/ReloadWS/"/>
          </baseAddresses>
        </host>
        <endpoint address="UserService" binding="webHttpBinding" contract="ReloadWS.Service.IUsuarioService" bindingConfiguration="miEnlace" behaviorConfiguration="web"></endpoint>
        <endpoint address="PostService" binding="webHttpBinding" contract="ReloadWS.Service.IPostService" bindingConfiguration="miEnlace" behaviorConfiguration="web"></endpoint>
        <endpoint address="HelperService" binding="webHttpBinding" contract="ReloadWS.Service.IHelperService" bindingConfiguration="miEnlace" behaviorConfiguration="web"></endpoint>

      </service>

      <service name="ReloadWS.Service.AuthenticationService" behaviorConfiguration="AuthenticationServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:20125/ReloadWS/"/>
          </baseAddresses>
        </host>
        <endpoint address="AuthenticationService" binding="webHttpBinding" contract="ReloadWS.Service.IAuthenticationService" bindingConfiguration="miEnlace" behaviorConfiguration="web"></endpoint>
      </service>

      <!--<service name="ReloadWS.Service.PostService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:20126/ReloadWS/"/>
          </baseAddresses>
        </host>
        <endpoint address="PostService" binding="webHttpBinding" contract="ReloadWS.Service.IPostService" bindingConfiguration="miEnlace" behaviorConfiguration="web"></endpoint>
      </service>-->
      
    </services>
    <behaviors>
     
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceAuthorization serviceAuthorizationManagerType="ReloadWS.Security.ValidatorAccessToken, ReloadWS.Security"></serviceAuthorization>
        </behavior>

        <behavior name="AuthenticationServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceAuthorization serviceAuthorizationManagerType="ReloadWS.Security.ValidatorAccessService, ReloadWS.Security"></serviceAuthorization>
        </behavior>

      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="web">
          <crossOriginResourceSharingBehavior/>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="miEnlace" receiveTimeout="00:00:10" sendTimeout="00:00:10" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None"></transport>
        
          </security>
          <readerQuotas maxArrayLength="67108864" maxBytesPerRead="67108864" />
        </binding>
      </webHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior"
             type="ReloadWS.Service.CORSEnablingBehavior,
             ReloadWS.Service, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    
  </system.serviceModel>
</configuration>