<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JWT_SECRET_KEY" value="clave-secreta-api"/>
    <add key="Clave_Acceso_Servicio" value="eyJ1c2VyIjoiTHVjaG8iLCJwYXNzd29yZCI6IjEyMyJ9"/>
    <add key="mongodb_user" value="lucho"/>
    <add key="mongodb_password" value="xddxxd"/>
    <add key="mongodb_address" value="54.233.118.254"/>
    <add key="mongodb_db" value="reload"/>
    <add key="mail_host" value="smtp.gmail.com"/>
    <add key="mail_port" value="587"/>
    <add key="mail_emisor" value="chespypruebaprogramas@gmail.com"/>
    <add key="mail_password" value="xddxxd"/>

    <add key="mail_plantilla_activar_mail" value="activarMail.html" />
    
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="ReloadWS.Service.ReloadService" behaviorConfiguration="ServiceBehavior">
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:20124/ReloadWS/"/>
          </baseAddresses>
        </host>
        <endpoint address="Reload" binding="webHttpBinding" contract="ReloadWS.Service.IReloadService" bindingConfiguration="miEnlace" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
     
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <!--<serviceAuthorization serviceAuthorizationManagerType="ReloadWS.Security.DistributorValidator, ReloadWS.Security"></serviceAuthorization>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="miEnlace" receiveTimeout="00:00:10" sendTimeout="00:00:10" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
          <readerQuotas maxArrayLength="67108864" maxBytesPerRead="67108864" />
        </binding>
      </webHttpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>