<div class="info-container">
    <mat-card class="card-container">
        <table>
            <tr>
                <td>
                    <img src="./assets/img/mantenimiento.gif" style="width: 70px; height: 50px" mat-card-sm-image>
                </td>
                <td>
                    <mat-card-title>Título del post</mat-card-title>
                    <mat-card-subtitle>asdsads6s5d46sa5d46sa54d6as4d6blablabla</mat-card-subtitle>
                    <mat-card-content>
                        <div style="margin:auto; justify-content: center; align-items: center">
                            <div style="right:10px; top:0px ">
                                <h4 id="txt1" class="mat-typography">
                                    <img src="./assets/img/icons/cat/flash.png"> Animaciones
                                    <img src="./assets/img/icons/clock-select.png">Hace más de 1 año
                                    <img src="./assets/img/icons/comments.png"> 12299
                                    <img src="./assets/img/icons/user.png"> Medwar</h4>
                            </div>
                        </div>
                    </mat-card-content>
                </td>
            </tr>

        </table>

    </mat-card>
</div>