<div class="container">
    <div class="row">
        <div class="col-2">
            <img [src]="post.imagen" style="width: 90px; height: 68px" mat-card-sm-image>
            <!-- <mat-card-subtitle>  </mat-card-subtitle> -->
        </div>
        <div class="col-10">
            <div class="row">
                <h3> {{post.titulo}} </h3>
            </div>
            <div class="row">
                <div>
                    <div style="right:10px; top:0px ">
                        <h4 id="txt1" class="mat-typography">
                            <img src="./assets/img/icons/cat/flash.png"> {{post.categoria.nombre}}
                            <img style="margin-left: 10px" src="./assets/img/icons/clock-select.png">{{post.fechaAlta | date}}
                            <img style="margin-left: 10px" src="./assets/img/icons/comments.png"> {{post.comentarios.length}}
                            <img style="margin-left: 10px" src="./assets/img/icons/user.png"> {{post.propietario.codigo}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>