<div class="info-container">

    <mat-grid-list cols="2" rowHeight="20px">
        <mat-grid-tile colspan="1" rowspan="3">
            <h3>Nombre</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3">
            <h3>{{usuario.info.nombre}}</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3">
            <h3>Apellido</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3">
            <h3>{{usuario.info.apellido}}</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3">
            <h3>Idiomas</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3">
            <h3>{{usuario.info.idiomas}}</h3>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="3">
            <h3>Datos profesionales</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3">
            <h3>{{usuario.info.datosProfes}}</h3>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="3">
            <h3>Hábitos</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3">
            <h3>{{usuario.info.habitos}}</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3">
            <h3>Propias palabras</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3">
            <h3>{{usuario.info.propiasPalabras}}</h3>
        </mat-grid-tile>




    </mat-grid-list>

</div>