<div id="fondo" class="row">
    <div class="col-3">
        <img [src]="usuario.info.imagen" witdh="120px" height="120px">
    </div>
    <div class="col-4">
        <div class="row">
            <h1 class="body-1">{{usuario.codigo}}</h1>
        </div>
        <div class="row">
            <mat-chip class="mat-h5">
                {{ usuario.rango.nombre }}
            </mat-chip>
        </div>
        <div class="row">
            <h4 id="txt1" class="mat-typography">
                <span><mat-icon class="material-icons">person</mat-icon>Es {{usuario.info.sexo}}</span>
                <!-- <span style="margin-left:5px"><mat-icon class="material-icons">calendar_today</mat-icon>Tiene .. años</span> -->
                <span style="margin-left:5px"><mat-icon class="material-icons">location_on</mat-icon>Vive en {{usuario.info.pais.nombre}}</span>
                <!-- <span style="margin-left:5px"><mat-icon class="material-icons">av_timer</mat-icon>Se unió a Reload el {{usuario.info.fechaAlta}}</span> -->
            </h4>
        </div>
    </div>
    <div class="col-5">
        <div class="col-2 offset-10">
            <mat-card class="card-container">
                <div style="margin:auto; justify-content: center; align-items: center; width: 100px">
                    <img [src]=" usuario.info.pais | imgPais">
                </div>
            </mat-card>
        </div>
        <div class="col-12" style="position:absolute; bottom: 10px">
            <mat-chip-list>
                <mat-chip class="mat-h5" style="color:blue">
                    {{usuario.puntos}} Puntos
                </mat-chip>
                <mat-chip class="mat-h5" style="color:blue">
                    {{usuario.posts.length}} Posts
                </mat-chip>
                <mat-chip class="mat-h5" style="color:blue">
                    {{usuario.nroComentarios}} Comentarios
                </mat-chip>
                <mat-chip class="mat-h5" style="color:blue">
                    0 Temas
                </mat-chip>
                <mat-chip class="mat-h5" style="color:blue">
                    {{usuario.seguidores}} Seguidores
                </mat-chip>
                <mat-chip class="mat-h5" style="color:blue">
                    Siguiendo {{usuario.siguiendo}}
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>

</div>