<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Comentar</h3>
        </div>
    </div>
    <div class="row" style="margin-top:5px;margin-bottom:10px">
        <div class="col-12" style="height: auto">
            <div id="editor" class="cajaComentario" style="min-height: 150px; max-height: 350px"></div>

        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <button mat-raised-button (click)="comentar()" color="primary"><strong>Comentar</strong></button>
        </div>
    </div>
</div>